a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    z-index: -1;
}

.modalContainer {
    position: fixed;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 1500;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
}

.modalWindow {
    border: 2px solid red;
    width: 50%;
    height: auto;
    position: fixed;
    left: 25%;
    /*visibility: hidden;*/
    z-index: 2000;
    background-size: cover;
    overflow: hidden;
}

.modalWindow img {
    width: 100%;
    height: auto;
    z-index: 2000;
}



/*-----------------------------------*/
body {
    background-color: #5cd3ff;
}

.navbar {
    display: block;
    z-index: 1000;
    background-image: url(../img/1.png);
    background-size: 100%;
    position: sticky;
    top: 0;
    height: 100px;
    text-align: right;

}

.navbar-collapse .nav-item .nav-link {
    color: white;
    font-size: 20px;

}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
    border-radius: 10px;
    margin: 3px;
    width: auto;
    text-align: center;

}

.about_my {
    margin: 10px;
    background-color: #b8daff;
    border-radius: 20px;
    padding: 10px;
}

.item-responsive {
    position: relative; /* относительное позиционирование */
}
.item-responsive:before {
    display: block; /* отображать элемент как блок */
    content: ""; /* содержимое псевдоэлемента */
    width: 100%; /* ширина элемента */
}
.item-2by1 {
    padding-top: 100%; /* (9:16)*100% */
}
.item-responsive>.content {
    position: absolute; /* абсолютное положение элемент */
    /* положение элемента */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover !important;
}

.list-group {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    position: relative;
    display: block;
    text-align: center;
}

.list-group .list-group-item {
    margin: 5px;
    border: solid;
    border-radius: 20px;
}

.production {
    margin: 10px;
    background-color: #b8daff;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 10px;
}
.productList {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.modal-header {
    display: block;
}

.partner_programm {
    margin: 10px;
    background-color: #b8daff;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 10px;
}

.cardPartner {
    margin: 10px;
}

.contact {
    margin: 10px;
    background-color: #b8daff;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 10px;
}

.social {

}

.active {
    background-color: rgba(200, 50,50, 0.5) !important;
}