.head {
    display: block;
    z-index: 999;
    background-image: url(../img/1.png);
    background-size: 100%;
    position: sticky;
    top: 0;
    height: 100px;
}

.head ul {
    /*border: 2px solid green;*/
    display: flex;
    float: right;
}

.head li {
    border: 2px solid black;
    border-radius: 20px;
    background-color: aqua;
    width: auto;
    height: 30px;
    display: inline;
    font-size: 1.5em;
    font-family: Garamond;
    padding: 2px;
}

.head a {
    text-decoration: none;
    color: #800000;
}

.hea_menu a:visited {
    text-decoration: none;
    color: #ff061a;
}

.head a:active {
    text-decoration: none;
    color: green;
}

.head a:hover {
    text-decoration: none;
    color: yellow;
}

.about_my {
    /*border: 1px solid black;*/
    margin: 10px;
    display: block;
    position: relative;
    height: 300px;
}

.photo {
    float: left;
    margin-right: 20px;
    width: auto;
    height: 300px;
}

.photo img {
    /*visibility: hidden;*/
    size: inherit;
    height: 300px;
}

.photo:hover {
    border: 2px solid black;
    padding: 1px;
    cursor: pointer;
}

.about_company_items {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.about_company {
    border: 1px solid black;
    margin: 10px;
    position: relative;
    display: block;
    text-align: center;
}

.production {
    border: 1px solid black;
    margin: 10px;
    display: block;
    position: static;
}

.partner_programm {
    border: 1px solid black;
    margin: 10px;
    display: block;
    position: relative;
}

.contact {
    border: 1px solid black;
    margin: 10px;
    display: block;
    position: relative;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
    z-index: -1;
}

.active {
    background-color: rgba(200, 50,50, 0.5);
}

.modalContainer {
    position: fixed;
    background-color: rgba(100, 100, 100, 0.3);
    z-index: 1100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
}

.modalWindow {
    border: 2px solid red;
    width: 50%;
    height: auto;
    position: fixed;
    left: 25%;
    /*visibility: hidden;*/
    z-index: 2000;

    background-size: cover;
    overflow: hidden;
}

.modalWindow img {
    width: 100%;
    height: auto;
    z-index: 2000;
}

